---
namespace: archive
permalink: /archive/
permalink_es: /archivo/
permalink_de: /archiv/
title: titles.archive
---

<html>
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %} {% capture arch_title %} {% t titles.archive %} {% endcapture %} {% capture arch_hook
		%} {% tf frontpage/hook.md %} {% endcapture %} {% capture arch_description %} {% tf frontpage/description.md %}
		{% endcapture %} {% include masthead.html url=page.url title=arch_title hook=arch_hook
		description=arch_description %}

		<div class="container">
			<div id="confs">
				<h1 id="past-events-title">{% t titles.past_events %}</h1>
				{% assign current_year = site.time | date: "%Y" | plus: 0 %} {% for page in site.years %} {% assign year
				= page.year | plus: 0 %} {% if year <= current_year %}
				<li><a href="{{ page.url }}">Year {{ year }}</a></li>
				{% endif %} {% endfor %}
			</div>
			<footer>{% include_cached footer.html %}</footer>
			<br /><br />
		</div>
		<script type="text/javascript" charset="utf-8">
			$(function() {
			  luxon.Settings.defaultLocale = "{{ site.lang }}";
			  var DateTime = luxon.DateTime;
			  var today = DateTime.now();

			  // Make sure this is >= no. of subs
			  // Currently not used
			  var colors = ['#341f97', '#ee5253', '#2e86de',
			                '#ff9f43', '#10ac84', '#222f3e']


			  {% include load_data.js %}
			  {% include utils.js %}
			  {% include multiselect_handler.js %}

			  // Set time zone to local timezone on web copy
			  $('.local-timezone').text(today.toFormat('z'));

			  {% for conf in site.data.archive %}
			    {% if conf.cfp_ext %}
			      {% assign cfp = conf.cfp_ext %}
			    {% else %}
			      {% assign cfp = conf.cfp %}
			    {% endif %}
			    {% assign subs = conf.sub | split: "," %}
			    {% for sub in subs %}
			      $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .{{sub | strip}}-tag').html("{% t 'subs.{{sub | strip}}' %}".toLocaleLowerCase("{{ site.lang }}"));
			    {% endfor %}
			    {% if cfp == "TBA" or cfp == "Cancelled" or cfp == "None" %}
			      $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer').html("{{cfp}}");
			      $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline-time').html("{{cfp}}");
				  {% if cfp == "TBA" %}
				  $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').attr("cfpDiff", Infinity);
				  {% else %}
				  $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').attr("cfpDiff", -Infinity);
				  $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').appendTo($("#past_cfps"));
				  {% endif %}
			    {% else %}

			      // Use specified timezone for deadlines if available else use AoE timezone
			      {% if conf.timezone %}
			        var cfpDate = DateTime.fromSQL("{{cfp}}", {zone: "{{conf.timezone}}"});
			        var confDate = DateTime.fromSQL("{{conf.start}}", {zone: "{{conf.timezone}}"});
			      {% else %}
			        var cfpDate = DateTime.fromSQL("{{cfp}}", {zone: "UTC-12"});
			        var confDate = DateTime.fromSQL("{{conf.start}}", {zone: "UTC-12"});
			      {% endif %}

			      // check if timezone is valid otherwise replace by system timezone
			      if (cfpDate.invalid || confDate.invalid) {
			        var cfpDate = DateTime.fromSQL("{{cfp}}");
			        var confDate = DateTime.fromSQL("{{conf.start}}");
			        console.log("Invalid timezone in {{conf.conference | slugify: 'latin'}}-{{conf.year}}. Using system timezone instead.");
			      }

			      // deadline in local timezone
			      $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline-time').html(cfpDate.setZone('system').toLocaleString(DateTime.DATE_HUGE));
			    {% endif %}
			  {% endfor %}

			  {% include handle_url_retrieval.js %}

			  // Event handler on sub badge click
			  $('.conf-sub').click(function (e) {
			      var csub = $(this).data('sub');
			      subs = [csub];
			      $("#subject-select").multiselect('deselect', all_subs);
			      $("#subject-select").multiselect('select', subs);
			      update_filtering({ subs: subs, all_subs: all_subs});
			  });

			});
		</script>
	</body>
</html>
