---
namespace: resources
permalink: /resources/
permalink_de: /ressourcen/
permalink_es: /recursos/
title: titles.resources
---

<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

    {% capture ress_title %}
      {% t titles.resources %}
    {% endcapture %}
    {% capture ress_hook %}
      {% tf frontpage/hook.md %}
    {% endcapture %}
    {% capture ress_description %}
      {% tf resources/description.md %}
    {% endcapture %}

    {% include masthead.html title=ress_title hook=ress_hook description=ress_description %}
    <div class="container">
        <div id="confs">
        <div id="past_confs">
          {% for post in site.posts %}
          <div id="{{conf.conference | slugify: "latin"}}-{{conf.year}}" class="ConfItem">
            <div class="row conf-row">
                <div class="col-12">
                  <span class="conf-title">
                      <a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>
                  </span>
                  <span class="conf-title-small">
                      <a title="{{post.title}}" href="{{ post.url }}">{{post.title}}</a>
                  </span>
                </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="meta">
                  <strong>Tags:</strong> {{ post.tags | sort | join:", " }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <span class="conf-date">{{post.excerpt}}</span>
              </div>
            </div>
            <hr>
          </div>
          {% endfor %}
        </div>
      </div>
      <footer>
            {% include footer.html %}
      </footer>
      <br><br>
    </div>
  </body>
</html>
