---
permalink: /resources/
title: "Resources for Writing top-notch CfPs"
---

<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-12 col-sm-12">
                  {% include breadcrumbs.html %}
                  <h1>
                    Resources for Writing top-notch CfPs
                  </h1>
                </div>
                <div class="meta col-12">
                  Python deadlines curates your favourite Python conferences. Here are some resources that might make your CfP more successful!
                </div>
            </div>
            <br>
            <div class="row">
              <div class="meta col-12">
                Is your favourite conference missing? Add / edit a conference by <a target="_blank" href="//github.com/{{ site.github_username }}/{{ site.github_repo }}">sending in a pull request</a>.<br>
              </div>
            </div>
        </div>
        <div id="confs">
        <div id="past_confs">
          {% for post in site.posts %}
          <div id="{{conf.title | slugify}}-{{conf.year}}" class="ConfItem">
            <div class="row conf-row">
                <div class="col-12">
                  <span class="conf-title">
                      <a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>
                  </span>
                  <span class="conf-title-small">
                      <a title="{{post.title}}" href="{{post.url}}">{{post.title}}</a>
                  </span>
                </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="meta">
                  <strong>Tags:</strong> {{ post.tags | sort | join ", " }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <span class="conf-date">{{post.excerpt}}</span>
              </div>
            </div>
            <hr>
          </div>
          {% endfor %}
        </div>
      </div>
      <footer>
            {% include footer.html %}
      </footer>
      <br><br>
    </div>
  </body>
</html>
