---
permalink: /series/
title: Python Event Series List
---

<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-12 col-sm-12">
                  {% include breadcrumbs.html %}
                  <h1>
                    {{ page.title }}
                  </h1>
                </div>
                <div class="meta col-12">
                  All Python Event Series.
                </div>
            </div>
        </div>
        <div id="confs">
        <div id="past_confs">
          {% assign confs = site.data.conferences | concat: site.data.archive | concat: site.data.legacy | sort: "year" | reverse | group_by: "conference" | sort: "name" %}
          {% assign this_time = "now" | date: "%s" %}
          {% for conf in confs %}
          {% if conf.items.size > 1 %}
          <div id="{{conf.name | slugify: "latin"}}" class="ConfItem">
            <div class="row conf-row">
                <div class="col-12">
                  <span class="conf-title">
                      <a title="Deadline Details" href="/series/{{conf.name | slugify: "latin"}}/">{{conf.name}}</a>
                  </span>
                  <span class="conf-title-small">
                      <a title="Deadline Details" href="/series/{{conf.name | slugify: "latin"}}/">{{conf.name}}</a>
                  </span>
                  <span class="conf-title-icon">
                    <a title="Conference Website" href="{{conf.items[0].link}}" target="_blank"><img src="/static/img/203-earth.svg" class="badge-link" alt="Link to Conference Website" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% if conf.items[0].mastodon %}
                  <span class="conf-title-icon">
                    <a title="Mastodon for Conference" href="{{conf.items[0].mastodon}}" target="_blank"><img src="/static/img/407-mastodon.svg" class="badge-link" alt="Link to Conference Mastodon" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% elsif conf.items[0].twitter %}
                  <span class="conf-title-icon">
                    <a title="Twitter for Conference" href="https://twitter.com/{{conf.items[0].twitter}}" target="_blank"><img src="/static/img/407-twitter.svg" class="badge-link" alt="Link to Conference Twitter" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% endif %}
                </div>
            </div>
            <div class="row">
              {% assign conf_time = conf.items[0].start | date: "%s" %}
              {% if this_time < conf_time %}
                {% assign last_next = "Next" %}
              {% else %}
                {% assign last_next = "Last" %}
              {% endif %}
              <div class="col-12 col-sm-6">
                <div class="meta">
                  <span class="conf-place">
                    {% assign last_place = conf.items[0].place %}
                    {% if last_place == conf.items[2].place and last_place == conf.items[1].place %}
                      Always held in:
                    {% else %}
                      {{ last_next }} held in:
                    {% endif %}
                    {% assign idx = 0 %}
                    {% if last_place == "TBD" %}
                      {% assign idx = 1 %}
                    {% endif %}
                    {% if conf.items[idx].place == "Online" %}
                    <a href="#">{{conf.items[idx].place}}</a>
                    {% else %}
                    <a href="http://maps.google.com/?q={{conf.items[idx].place}}">{{conf.items[idx].place}}</a>
                    {% endif %}
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="meta">
                  <span class="conf-time">
                    {{ last_next }} conference in {{ conf.items[0].year }}.
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                {% assign subs = conf.items[0].sub | split: "," %}
                {% for sub in subs %}
                <span title="Click to only show {{sub | strip}} conferences" data-sub="{{sub | strip}}" class="badge badge-light conf-sub {{sub | strip}}-tag"></span>
                {% endfor %}
              </div>
              <div class="col-6">
                <div class="calendar"></div>
              </div>
            </div>
            <hr>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <footer>
            {% include footer.html %}
      </footer>
      <br><br>
    </div>
  </body>
</html>
