---
namespace: series
permalink: /series/
permalink_es: /serias/
permalink_de: /serien/
title: titles.series
---

<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

    {% capture series_title %}
      {% t titles.series %}
    {% endcapture %}
    {% capture series_hook %}
      {% tf frontpage/hook.md %}
    {% endcapture %}
    {% capture series_description %}
      {% tf series/description.md %}
    {% endcapture %}

    {% include masthead.html title=series_title hook=series_hook description=series_description %}
    <div class="container">
        <div id="confs">
        <div id="past_confs">
          {% assign confs = site.data.conferences | concat: site.data.archive | concat: site.data.legacy | sort: "year" | reverse | group_by: "conference" | sort: "name" %}
          {% assign this_time = "now" | date: "%s" %}
          {% for conf in confs %}
          {% if conf.items.size > 1 %}
          <div id="{{conf.name | slugify: "latin"}}" class="ConfItem">
            <div class="row conf-row">
                <div class="col-12">
                  <span class="conf-title">
                      <a title="Deadline Details" href="{{site.baseurl}}/series/{{conf.name | slugify: "latin"}}/">{{conf.name}}</a>
                  </span>
                  <span class="conf-title-small">
                      <a title="Deadline Details" href="{{site.baseurl}}/series/{{conf.name | slugify: "latin"}}/">{{conf.name}}</a>
                  </span>
                  <span class="conf-title-icon">
                    <a title="Conference Website" href="{{conf.items[0].link}}" target="_blank"><img src="/static/img/203-earth.svg" class="badge-link" alt="Link to Conference Website" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% if conf.items[0].mastodon %}
                  <span class="conf-title-icon">
                    <a title="Mastodon for Conference" href="{{conf.items[0].mastodon}}" target="_blank"><img src="/static/img/407-mastodon.svg" class="badge-link" alt="Link to Conference Mastodon" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% elsif conf.items[0].twitter %}
                  <span class="conf-title-icon">
                    <a title="Twitter for Conference" href="https://twitter.com/{{conf.items[0].twitter}}" target="_blank"><img src="/static/img/407-twitter.svg" class="badge-link" alt="Link to Conference Twitter" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% endif %}
                </div>
            </div>
            <div class="row">
              {% capture lastnext_place %}{% assign conf_time = conf.items[0].start | date: "%s" %}{% if this_time < conf_time %}{% t series.place.next %}{% else %}{% t series.place.last %}{% endif %}{% endcapture %}
              {% capture lastnext_year %}{% assign conf_time = conf.items[0].start | date: "%s" %}{% if this_time < conf_time %}{% t series.year.next %}{% else %}{% t series.year.last %}{% endif %}{% endcapture %}
              <div class="col-12 col-sm-6">
                <div class="meta">
                  <span class="conf-place">
                    {% assign last_place = conf.items[0].place %}
                    {% if last_place == conf.items[2].place and last_place == conf.items[1].place %}
                      {% t series.always %}:&nbsp;
                    {% else %}
                      {{ lastnext_place }}:&nbsp;
                    {% endif %}
                    {% assign idx = 0 %}
                    {% if last_place == "TBD" %}
                      {% assign idx = 1 %}
                    {% endif %}
                    {% if conf.items[idx].place == "Online" %}
                    <a href="#">{{conf.items[idx].place}}</a>
                    {% else %}
                    <a href="http://maps.google.com/?q={{conf.items[idx].place}}">{{conf.items[idx].place}}</a>
                    {% endif %}
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="meta">
                  <span class="conf-time">
                    {{ lastnext_year }} {{ conf.items[0].year }}.
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                {% assign subs = conf.items[0].sub | split: "," %}
                {% for sub in subs %}
                <span title="Click to only show {{sub | strip}} conferences" data-sub="{{sub | strip}}" class="badge badge-light conf-sub {{sub | strip}}-tag"></span>
                {% endfor %}
              </div>
              <div class="col-6">
                <div class="calendar"></div>
              </div>
            </div>
            <hr>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <footer>
            {% include footer.html %}
      </footer>
      <br><br>
    </div>
  </body>
</html>
