---
---


<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-12 col-sm-12">
                  <h1>
                    {% t titles.default %}
                  </h1>
                </div>
                <div class="meta col-12">
                  {% tf frontpage/hook.md %}
                </div>
            </div>
            <br>
            <div class="row">
              <div class="meta col-8">
                {% tf frontpage/description.md %}
              </div>
              <div class="meta col-4">
                <form class="container">
                  <div class="row justify-content-center">
                    <div class="row align-items-md-center col-12 col-10-md">
                      <div class="col-12 col-md-5 filter-label">
                        <label for="subject-select" class="align-center" style="margin-bottom: 0px; line-height: 1.5;">
                          {% t global.sub_filter %}
                        </label>
                      </div>
                      <div class="col-12 col-md-6">
                        <select
                          id="subject-select"
                          name="subject-select"
                          multiple="multiple"
                          style="display: none"
                        >
                          {% for type in site.data.types %}
                          <option value="{{type.sub}}" id="{{type.sub}}-checkbox">
                            {{type.name}} ({{type.sub}})
                          </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
        <div id="confs">
        <div id="coming_confs">
          {% assign confs = site.data.conferences | sort: "cfp" | reverse %}
          {% for conf in confs %}
          {% assign subs = conf.sub | split: "," %}
          <div id="{{conf.conference | slugify: "latin"}}-{{conf.year}}" class="ConfItem {% for sub in subs %} {{sub | strip}}-conf {% endfor %}">
            {% include index_conf_title_row.html %}
            {% include index_conf_date_place.html %}
            {% include index_conf_subs.html %}
            <hr />
          </div>
          {% endfor %}
        </div>
        <div id="past_cfps">
          <h1 id="past-cfps-title">{% t titles.past_cfps %}</h1>
        </div>
        <div id="past_confs">
          <h1 id="past-events-title">{% t titles.past_events %}</h1>
        </div>
        <div id="conf_archive">
          <h1 id="archive-link"><a href="{% tl archive %}">{% t titles.visit_archive %}</a></h1>
        </div>
      </div>
      <footer>
            {% include footer.html %}
      </footer>
      <br><br>
    </div>
    <script type="text/javascript" charset="utf-8">
    $(function() {
      luxon.Settings.defaultLocale = "{{ site.lang }}";
      var DateTime = luxon.DateTime;
      var today = DateTime.now();

      // Make sure this is >= no. of subs
      // Currently not used
      var colors = ['#341f97', '#ee5253', '#2e86de',
                    '#ff9f43', '#10ac84', '#222f3e']


      {% include load_data.js %}
      {% include utils.js %}
      {% include multiselect_handler.js %}

      // Set time zone to local timezone on web copy
      $('.local-timezone').text(today.toFormat('z'));

      {% for conf in site.data.conferences %}
      	{% if conf.cfp_ext %}
          {% assign cfp = conf.cfp_ext %}
        {% else %}
          {% assign cfp = conf.cfp %}
        {% endif %}
        {% assign subs = conf.sub | split: "," %}
        {% for sub in subs %}
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .{{sub | strip}}-tag').html("{% t 'subs.{{sub | strip}}' %}".toLocaleLowerCase("{{ site.lang }}"));
        {% endfor %}
        {% if cfp == "TBA" or cfp == "Cancelled" or cfp == "None" %}
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer').html("{{cfp}}");
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline-time').html("{{cfp}}");
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').attr("cfpDiff", Infinity);
        {% else %}

          // Use specified timezone for deadlines if available else use AoE timezone
          {% if conf.timezone %}
            var cfpDate = DateTime.fromSQL("{{cfp}}", {zone: "{{conf.timezone}}"});
            var confDate = DateTime.fromSQL("{{conf.start}}", {zone: "{{conf.timezone}}"});
          {% else %}
            var cfpDate = DateTime.fromSQL("{{cfp}}", {zone: "UTC-12"});
            var confDate = DateTime.fromSQL("{{conf.start}}", {zone: "UTC-12"});
          {% endif %}

          // check if timezone is valid otherwise replace by system timezone
          if (cfpDate.invalid || confDate.invalid) {
            var cfpDate = DateTime.fromSQL("{{cfp}}");
            var confDate = DateTime.fromSQL("{{conf.start}}");
            console.log("Invalid timezone in {{conf.conference | slugify: "latin"}}-{{conf.year}}. Using system timezone instead.");
          }

          // render countdown timer
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer').countdown(cfpDate.toJSDate(), function (event) {
              $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
          });

          // render countdown timer small
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer-small').countdown(cfpDate.toJSDate(), function (event) {
              $(this).html(event.strftime('%Dd %H:%M:%S'));
          });

          // deadline in local timezone
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline-time').html(cfpDate.setZone('system').toLocaleString(DateTime.DATE_HUGE));

          // add calendar button
          try {
          var myCalendar = createCalendarFromObject({
            id:  '{{conf.conference | slugify: "latin"}}-{{conf.year}}',
            title: '{{conf.conference}} {{conf.year}} deadline',
            start_date: cfpDate.toJSDate(),
            duration: 60,
            place: '{{conf.place}}',
            link: '{{conf.link}}'
          });
          document.querySelector('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .calendar').appendChild(myCalendar);
          } catch(err) {
            document.querySelector('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .calendar').appendChild("<p>Calendar not available.</p>");
            console.log("Error in cfp date.");
          }

          // check if date has passed, add 'past' class to it
          cfpDiff = cfpDate.diffNow("seconds");
          confDiff = confDate.diffNow("seconds");

          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').attr("cfpDiff", cfpDiff.toMillis());
          $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').attr("confDiff", confDiff.toMillis());

          if (cfpDiff < 0) {
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').addClass('pastcfp');
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').appendTo($("#past_cfps"));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer').replaceWith($('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline'));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer-small').replaceWith($('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline'));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .calendar').remove();
          }

          if (confDiff < 0) {
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').addClass('pastconf');
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').appendTo($("#past_confs"));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer').replaceWith($('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline'));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer-small').replaceWith($('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline'));
            $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .calendar').remove();
          }
        {% endif %}
      {% endfor %}

      // Sort coming_confs and past_confs
      $("#coming_confs .ConfItem").sort(function (a, b) {
        return $(a).attr('cfpDiff') - $(b).attr('cfpDiff');
      }).appendTo($("#coming_confs"));

      {% include handle_url_retrieval.js %}

      // Event handler on sub badge click
      $('.conf-sub').click(function (e) {
          var csub = $(this).data('sub');
          subs = [csub];
          $("#subject-select").multiselect('deselect', all_subs);
          $("#subject-select").multiselect('select', subs);
          update_filtering({ subs: subs, all_subs: all_subs});
      });

    });
    </script>
  </body>
</html>
