---
---


<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-12 col-sm-12">
                  <h1>
                    {{ site.title }}
                  </h1>
                </div>
                <div class="meta col-12">
                  Python deadlines curates your favourite Python conferences.
                </div>
            </div>
            <br>
            <div class="row">
              <div class="meta col-8">This community tool serves as a central repository for deadlines of calls for participitation, proposals, workshops, and tutorials at Python conferences.
                The dates are made available as countdowns, in local timezones and even as a Google calendar below! <br>
                Deadlines are shown in <span class="local-timezone">your local</span> time.
                To view them in conference website timezones, click on the conference.<br>
                You can optionally export all deadlines to
                <a href="https://calendar.google.com/calendar/r?cid={{ site.url }}/{{ site.github_repo }}.ics">Google Calendar</a> or
                <a href="{{ site.baseurl }}/{{ site.github_repo }}.ics">.ics</a>.<br> <br>
                Is your favourite conference missing? Add / edit a conference by <a target="_blank" href="//github.com/{{ site.github_username }}/{{ site.github_repo }}">sending in a pull request</a>.<br>
              </div>
              <div class="meta col-4">
                <form class="container">
                  <div class="row justify-content-center">
                    <div class="row align-items-md-center col-12 col-10-md">
                      <div class="col-12 col-md-5 filter-label">
                        <label for="subject-select" class="align-center" style="margin-bottom: 0px; line-height: 1.5;">
                          Subject Filter:
                        </label>
                      </div>
                      <div class="col-12 col-md-6">
                        <select
                          id="subject-select"
                          name="subject-select"
                          multiple="multiple"
                          style="display: none"
                        >
                          {% for type in site.data.types %}
                          <option value="{{type.sub}}" id="{{type.sub}}-checkbox">
                            {{type.name}} ({{type.sub}})
                          </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
        <div id="confs">
        <div id="coming_confs">
          {% for conf in site.data.conferences %}
          {% assign subs = conf.sub | split: "," %}
          <div id="{{conf.title | slugify}}-{{conf.year}}" class="ConfItem {% for sub in subs %} {{sub | strip}}-conf {% endfor %}">
            <div class="row conf-row">
                <div class="col-6">
                  <span class="conf-title">
                      <a title="Deadline Details" href="{{site.baseurl}}/conference/{{conf.title | slugify}}-{{conf.year}}/">{{conf.title}} {{conf.year}}</a>
                  </span>
                  <span class="conf-title-small">
                      <a title="Deadline Details" href="{{site.baseurl}}/conference/{{conf.title | slugify}}-{{conf.year}}/">{{conf.title}} '{{conf.year | slice: -2, 3}}</a>
                  </span>
                  <span class="conf-title-icon">
                    <a title="Conference Website" href="{{conf.link}}" target="_blank"><img src="/static/img/203-earth.svg" class="badge-link" alt="Link to Conference Website" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% if conf.cfp_link %}
                  <span class="conf-title-icon">
                    <a title="Call for Participation for {{conf.title}}" href="{{conf.cfp_link}}" target="_blank"><img src="/static/img/035-file-text.svg" class="badge-link" alt="Link to Call for Participation for {{conf.title}}" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% endif %}
                  {% if conf.finaid %}
                  <span class="conf-title-icon">
                    <a title="Financial Aid from {{conf.title}}" href="{{conf.finaid}}" target="_blank"><img src="/static/img/066-lifebuoy.svg" class="badge-link" alt="Link to Sponsorship page of {{conf.title}}" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% endif %}
                  {% if conf.sponsor %}
                  <span class="conf-title-icon">
                    <a title="Sponsorship Opportunity for {{conf.title}}" href="{{conf.sponsor}}" target="_blank"><img src="/static/img/060-coin-dollar.svg" class="badge-link" alt="Link to Sponsorship page of {{conf.title}}" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% endif %}
                  {% if conf.mastodon %}
                  <span class="conf-title-icon">
                    <a title="Mastodon for {{conf.title}}" href="{{conf.mastodon}}" target="_blank"><img src="/static/img/407-mastodon.svg" class="badge-link" alt="Link to Conference Mastodon" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% elsif conf.twitter %}
                  <span class="conf-title-icon">
                    <a title="Twitter for {{conf.title}}" href="https://twitter.com/{{conf.twitter}}" target="_blank"><img src="/static/img/407-twitter.svg" class="badge-link" alt="Link to Conference Twitter" width="16" height="16" /></a>
                    &ZeroWidthSpace;
                  </span>
                  {% endif %}
                </div>
                <div class="col-6">
                  <span class="timer"></span>
                  <span class="timer-small"></span>
                </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="meta">
                  <span class="conf-date">{{conf.date}}.</span>
                  <span class="conf-place">
                    {% if conf.place == "Online" %}
                    <a href="#">{{conf.place}}</a>.
                    {% else %}
                    <a href="http://maps.google.com/?q={{conf.place}}">{{conf.place}}</a>.
                    {% endif %}
                  </span>
                </div>
                {% if conf.note %}
                  <div class="note">
                      <b>Note: </b>{{conf.note}}
                  </div>
                {% endif %}

              </div>
              <div class="col-12 col-sm-6">
                <div class="deadline">
                  <div>Deadline:
                    <span class="deadline-time"></span>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-6">
                {% assign subs = conf.sub | split: "," %}
                {% for sub in subs %}
                <span title="Click to only show {{sub | strip}} conferences" data-sub="{{sub | strip}}" class="badge badge-light conf-sub {{sub | strip}}-tag"></span>
                {% endfor %}
              </div>
              <div class="col-6">
                <div class="calendar"></div>
              </div>
            </div>
            <hr>
          </div>
          {% endfor %}
        </div>
        <div id="past_cfps">
          <h1 id="past-cfps-title">Past Calls for Participation</h1>
        </div>
        <div id="past_confs">
          <h1 id="past-events-title">Past Events</h1>
        </div>
        <div id="conf_archive">
          <h1 id="archive-link">Visit the <a href="/archive/">Archive</a></h1>
        </div>
      </div>
      <footer>
            {% include footer.html %}
      </footer>
      <br><br>
    </div>
    <script type="text/javascript" charset="utf-8">
    $(function() {

      var DateTime = luxon.DateTime;
      var today = DateTime.now();

      // Make sure this is >= no. of subs
      // Currently not used
      var colors = ['#341f97', '#ee5253', '#2e86de',
                    '#ff9f43', '#10ac84', '#222f3e']


      {% include load_data.js %}
      {% include utils.js %}
      {% include multiselect_handler.js %}

      // Set time zone to local timezone on web copy
      $('.local-timezone').text(today.toFormat('z'));

      {% for conf in site.data.conferences %}
        {% assign subs = conf.sub | split: "," %}
        {% for sub in subs %}
          $('#{{conf.title | slugify}}-{{conf.year}} .{{sub | strip}}-tag').html(sub2name["{{sub | strip}}"].toLocaleLowerCase());
        {% endfor %}
        {% if conf.cfp == "TBA" %}
          $('#{{conf.title | slugify}}-{{conf.year}} .timer').html("TBA");
          $('#{{conf.title | slugify}}-{{conf.year}} .deadline-time').html("TBA");
          $('#{{conf.title | slugify}}-{{conf.year}}').attr("cfpDiff", -Infinity);
        {% else %}

          // Use specified timezone for deadlines if available else use AoE timezone
          {% if conf.timezone %}
            var cfpDate = DateTime.fromSQL("{{conf.cfp}}", {zone: "{{conf.timezone}}"});
            var confDate = DateTime.fromSQL("{{conf.start}}", {zone: "{{conf.timezone}}"});
          {% else %}
            var cfpDate = DateTime.fromSQL("{{conf.cfp}}", {zone: "UTC-12"});
            var confDate = DateTime.fromSQL("{{conf.start}}", {zone: "UTC-12"});
          {% endif %}

          // check if timezone is valid otherwise replace by system timezone
          if (cfpDate.invalid || confDate.invalid) {
            var cfpDate = DateTime.fromSQL("{{conf.cfp}}");
            var confDate = DateTime.fromSQL("{{conf.start}}");
            console.log("Invalid timezone in {{conf.title | slugify}}-{{conf.year}}. Using system timezone instead.");
          }

          // render countdown timer
          $('#{{conf.title | slugify}}-{{conf.year}} .timer').countdown(cfpDate.toJSDate(), function (event) {
              $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
          });

          // render countdown timer small
          $('#{{conf.title | slugify}}-{{conf.year}} .timer-small').countdown(cfpDate.toJSDate(), function (event) {
              $(this).html(event.strftime('%Dd %H:%M:%S'));
          });

          // deadline in local timezone
          $('#{{conf.title | slugify}}-{{conf.year}} .deadline-time').html(cfpDate.setZone('system').toLocaleString(DateTime.DATE_HUGE));

          // add calendar button
          try {
          var myCalendar = createCalendarFromObject({
            id:  '{{conf.title | slugify}}-{{conf.year}}',
            title: '{{conf.title}} {{conf.year}} deadline',
            date: cfpDate.toJSDate(),
            duration: 60,
          });
          document.querySelector('#{{conf.title | slugify}}-{{conf.year}} .calendar').appendChild(myCalendar);
          } catch(err) {
            document.querySelector('#{{conf.title | slugify}}-{{conf.year}} .calendar').appendChild("<p>Calendar not available.</p>");
            console.log("Error in cfp date.");
          }

          // check if date has passed, add 'past' class to it
          cfpDiff = cfpDate.diffNow("seconds");
          confDiff = confDate.diffNow("seconds");

          $('#{{conf.title | slugify}}-{{conf.year}}').attr("cfpDiff", cfpDiff.toMillis());
          $('#{{conf.title | slugify}}-{{conf.year}}').attr("confDiff", confDiff.toMillis());

          if (cfpDiff > 0 && confDiff < 0) {
            $('#{{conf.title | slugify}}-{{conf.year}}').addClass('pastcfp');
            $('#{{conf.title | slugify}}-{{conf.year}}').appendTo($("#past_cfps"));
            $('#{{conf.title | slugify}}-{{conf.year}} .timer').replaceWith($('#{{conf.title | slugify}}-{{conf.year}} .deadline'));
            $('#{{conf.title | slugify}}-{{conf.year}} .timer-small').replaceWith($('#{{conf.title | slugify}}-{{conf.year}} .deadline'));
            $('#{{conf.title | slugify}}-{{conf.year}} .calendar').remove();
          }

          if (confDiff > 0) {
            $('#{{conf.title | slugify}}-{{conf.year}}').addClass('pastconf');
            $('#{{conf.title | slugify}}-{{conf.year}}').appendTo($("#past_confs"));
            $('#{{conf.title | slugify}}-{{conf.year}} .timer').replaceWith($('#{{conf.title | slugify}}-{{conf.year}} .deadline'));
            $('#{{conf.title | slugify}}-{{conf.year}} .timer-small').replaceWith($('#{{conf.title | slugify}}-{{conf.year}} .deadline'));
            $('#{{conf.title | slugify}}-{{conf.year}} .calendar').remove();
          }
        {% endif %}
      {% endfor %}

      // Sort coming_confs and past_confs
      $("#coming_confs .ConfItem").sort(function (a, b) {
        return $(b).attr('cfpDiff') - $(a).attr('cfpDiff');
      }).appendTo($("#coming_confs"));

      {% include handle_url_retrieval.js %}

      // Event handler on sub badge click
      $('.conf-sub').click(function (e) {
          var csub = $(this).data('sub');
          subs = [csub];
          $("#subject-select").multiselect('deselect', all_subs);
          $("#subject-select").multiselect('select', subs);
          update_filtering({ subs: subs, all_subs: all_subs});
      });

    });
    </script>
  </body>
</html>
