---
permalink: /map/
---
<html>

  <head>
    {% include head.html %}
  </head>

  <body>

    {% include header.html %}
    <div class="container">
      <br>
      <h1>Map Overview of Conferences</h1>
      <div class="row">
        <div class="meta col-sm-12">
          Overview of deadlines and conference dates on a map.
          Also, <a href="/">countdowns</a> to Python conference deadlines.
        </div>
        <br>
      </div>

      <br>

      <!-- Filter Form -->
      <div class="row">
        {% google_map src="_data/places.yml" %}
      </div>
      <hr>
      <footer>
        {% include footer.html %}
      </footer>

    </div>



    <script type="text/javascript" charset="utf-8">
      let calendar = null;
      var page_url = "{{site.baseurl}}/calendar"
      var conf_list_all = [];

      {% include utils.js %}
      {% include load_data.js %}
      {% include multiselect_handler.js %}


      $(function () {
        // Get data from URL/Cache
        {% include handle_url_retrieval.js %}

        conf_list_all = load_conference_list();
        conf_list = conf_list_all;

        // Render calendar
        update_filtering({ subs: subs, all_subs: all_subs });
      });
      
    </script>
  </body>
</html>