<hr>
<div class="row">
  <div class="col-12 col-sm-12">
    <a href="/">{{ site.domain }}</a>
    is maintained by
    <a href="https://dramsch.net/twitter">Jesper Dramsch</a> since 2022.<br> It was inspired (and coded) by the fantastic <a href="https://aideadlin.es">aideadlin.es</a>. No guarantee for correctness, please correct mistakes by <a href="https://github.com/JesperDramsch/python-deadlines/">submitting a pull request</a>.<br>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12">
    <div class="footer-links">
    <a href="https://dramsch.net/terms-conditions/">Terms</a> & 
    <a href="https://dramsch.net/privacy-policy/">Privacy Policy</a>
    from <a href="https://dramsch.net">Jesper Dramsch,</a> creator of <a href="https://ml.recipes">ML.recipes</a>, <a href="https://data-science-gui.de">data-science-gui.de</a> and the <a href="https://latent.club">Latent Space Community</a>.
  </div>
  </div>
</div>
