<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<div style="vertical-align: middle; padding-top: 8px">
			<div>
				<a class="navbar-brand" href="{{site.baseurl}}/" style="border-bottom: none; line-height: 0.1em">
					Python Deadlines<br /><br />
				</a>
			</div>
			<div style="color: white; font-size: x-small">
				<a href="https://dramsch.net" class="pwc-link"> by Jesper Dramsch </a>
			</div>
		</div>

		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbar-toggler"
			aria-controls="navbars-toggler"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-toggler">
			<ul class="navbar-nav mr-auto">
				<li>
					<a href="{{site.baseurl}}/" class="nav-link" style="border-bottom: none"
						>{% t header.countdown %}</a
					>
				</li>
				<li>
					<a href="{% tl calendar %}" class="nav-link" style="border-bottom: none">{% t header.calendar %}</a>
				</li>
				<li>
					<a href="{% tl maps %}" class="nav-link" style="border-bottom: none">{% t header.maps %}</a>
				</li>
				<li>
					<a href="{% tl series %}" class="nav-link" style="border-bottom: none">{% t header.series %}</a>
				</li>
				<li>
					<a href="{% tl resources %}" class="nav-link" style="border-bottom: none"
						>{% t header.resources %}</a
					>
				</li>
			</ul>

			<form class="form-inline my-2 my-lg-0" action="{% tl search %}" method="get">
				<input
					type="search"
					id="search-box"
					name="query"
					class="form-control mr-sm-2"
					placeholder="{% t titles.search %}"
					aria-label="Search"
				/>
				<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">{% t titles.search %}</button>
			</form>
			<ul class="navbar-nav ml-auto my-2 my-lg-0">
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdownMenuLink"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						{% t global.current %}
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
						<h6 class="dropdown-header">{% t global.choose %}</h6>
						{% if page.permalink %}
						<a
							class="dropdown-item{% if site.lang == 'en' %} active{%endif%}"
							href="{{ site.baseurl_root }}{{ page.permalink }}"
							>English</a
						>
						{% else %}
						<a
							class="dropdown-item{% if site.lang == 'en' %} active{%endif%}"
							href="{{ site.baseurl_root }}{{ page.url }}"
							>English</a
						>
						{% endif %} {% if page.permalink_es %}
						<a
							class="dropdown-item{% if site.lang == 'es' %} active{%endif%}"
							href="{{ site.baseurl_root }}/es{{ page.permalink_es }}"
							>Español</a
						>
						{% else %}
						<a
							class="dropdown-item{% if site.lang == 'es' %} active{%endif%}"
							href="{{ site.baseurl_root }}/es{{ page.url }}"
							>Español</a
						>
						{% endif %} {% if page.permalink_de %}
						<a
							class="dropdown-item{% if site.lang == 'de' %} active{%endif%}"
							href="{{ site.baseurl_root }}/de{{ page.permalink_de }}"
							>Deutsch</a
						>
						{% else %}
						<a
							class="dropdown-item{% if site.lang == 'de' %} active{%endif%}"
							href="{{ site.baseurl_root }}/de{{ page.url }}"
							>Deutsch</a
						>
						{% endif %}
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
