<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% capture base_title %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
{% assign start_title = base_title | split: "." | first %}
{% capture title %}{% if start_title == "titles" %}{% t base_title %}{% else %}{{ base_title }}{% endif %}{% endcapture %}

<title>{{title}} | PythonDeadlin.es</title>
{% seo title=false %}

<link rel="alternate" type="application/rss+xml" title="RSS Feed for Pythondeadlin.es" href="/feed.xml" />
{% if page.permalink %}
<link rel="alternate" hreflang="en" href="{{ site.baseurl_root }}{{ page.permalink }}" title="">
{% else %}
<link rel="alternate" hreflang="en" href="{{ site.baseurl_root }}{{ page.url }}" title="">
{% endif %}
{% if page.permalink_es %}
<link rel="alternate"  title="{{title}} in Spanish" hreflang="es" href="{{ site.baseurl_root }}/es{{ page.permalink_es }}">
{% else %}
<link rel="alternate"  title="{{title}} in Spanish" hreflang="es" href="{{ site.baseurl_root }}/es{{ page.url }}">
{% endif %}
{% if page.permalink_de %}
<link rel="alternate"  title="{{title}} in German" hreflang="de" href="{{ site.baseurl_root }}/de{{ page.permalink_de }}">
{% else %}
<link rel="alternate"  title="{{title}} in German" hreflang="de" href="{{ site.baseurl_root }}/de{{ page.url }}">
{% endif %}

<link rel="stylesheet" type="text/css" href="{{ "/static/css/js-year-calendar.min.css" | prepend:site.baseurl_root }}?t={{site.time | date: '%s' }}" media="screen,projection">

<link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | prepend:site.baseurl_root }}">
<link rel="stylesheet" type="text/css" href="{{ "/static/css/deadlines.css" | prepend:site.baseurl_root }}?t={{site.time | date: '%s'}}" media="screen,projection">
<link rel="stylesheet" type="text/css" href="{{ "/static/css/calendar.css" | prepend:site.baseurl_root }}?t={{site.time | date: '%s'}}" media="screen,projection">

<link rel="shortcut icon" href="{{ "/static/img/favicon.png" | prepend:site.baseurl_root }}">

<style>
{% for type in site.data.types %}
.{{ type.sub }}-tag {
  color: {{ type.color }};
}
.{{ type.sub }}-select {
  color: {{ type.color }};
  background: white;
}
.{{ type.sub }}-select.active {
    color: white;
    background: {{ type.color }};
}

{% endfor %}
  </style>

<script defer data-domain="pythondeadlin.es" src="https://info.pythondeadlin.es/js/script.js"></script>
<script type="text/javascript" src="{{ "/static/js/js-year-calendar.js" | prepend:site.baseurl_root }}"></script>
<script type="text/javascript" src="{{ "/static/js/jquery.min.js" | prepend:site.baseurl_root }}"></script>
<script type="text/javascript" src="{{ "/static/js/popper.min.js" | prepend:site.baseurl_root }}"></script>
<script type="text/javascript" src="{{ "/static/js/bootstrap.min.js" | prepend:site.baseurl_root }}"></script>
<script type="text/javascript" src="{{ "/static/js/jquery.countdown.min.js" | prepend:site.baseurl_root }}"></script>
<script type="text/javascript" src="{{ "/static/js/luxon.js" | prepend:site.baseurl_root }}"></script>
<script type="text/javascript" src="{{ "/static/js/store.min.js" | prepend:site.baseurl_root }}"></script>
<script type="text/javascript" src="{{ "/static/js/ouical.min.js" | prepend:site.baseurl_root }}"></script>
<script type="text/javascript" src="{{ "/static/js/bootstrap-multiselect.min.js" |prepend:site.baseurl_root }}"></script>
