<div class="row conf-row">
    <div class="col-6">
        <span class="conf-title">
            <a title="Deadline Details" href="{{site.baseurl}}/conference/{{conf.conference | slugify: "latin"}}-{{conf.year}}/">{{conf.conference}} {{conf.year}}</a>
        </span>
        <span class="conf-title-small">
            <a title="Deadline Details" href="{{site.baseurl}}/conference/{{conf.conference | slugify: "latin"}}-{{conf.year}}/">{{conf.conference}} '{{conf.year | slice: -2, 3}}</a>
        </span>
        <span class="conf-title-icon">
        <a title="Conference Website" href="{{conf.link}}" target="_blank"><img src="/static/img/203-earth.svg" class="badge-link" alt="Link to Conference Website" width="16" height="16" /></a>
        &ZeroWidthSpace;
        </span>
        {% if conf.cfp_link %}
        <span class="conf-title-icon">
        <a title="Call for Participation for {{conf.conference}}" href="{{conf.cfp_link}}" target="_blank"><img src="/static/img/035-file-text.svg" class="badge-link" alt="Link to Call for Participation for {{conf.conference}}" width="16" height="16" /></a>
        &ZeroWidthSpace;
        </span>
        {% endif %}
        {% if conf.finaid %}
        <span class="conf-title-icon">
        <a title="Financial Aid from {{conf.conference}}" href="{{conf.finaid}}" target="_blank"><img src="/static/img/066-lifebuoy.svg" class="badge-link" alt="Link to Sponsorship page of {{conf.conference}}" width="16" height="16" /></a>
        &ZeroWidthSpace;
        </span>
        {% endif %}
        {% if conf.sponsor %}
        <span class="conf-title-icon">
        <a title="Sponsorship Opportunity for {{conf.conference}}" href="{{conf.sponsor}}" target="_blank"><img src="/static/img/060-coin-dollar.svg" class="badge-link" alt="Link to Sponsorship page of {{conf.conference}}" width="16" height="16" /></a>
        &ZeroWidthSpace;
        </span>
        {% endif %}
        {% if conf.mastodon %}
        <span class="conf-title-icon">
        <a title="Mastodon for {{conf.conference}}" href="{{conf.mastodon}}" target="_blank"><img src="/static/img/407-mastodon.svg" class="badge-link" alt="Link to Conference Mastodon" width="16" height="16" /></a>
        &ZeroWidthSpace;
        </span>
        {% elsif conf.twitter %}
        <span class="conf-title-icon">
        <a title="Twitter for {{conf.conference}}" href="https://twitter.com/{{conf.twitter}}" target="_blank"><img src="/static/img/407-twitter.svg" class="badge-link" alt="Link to Conference Twitter" width="16" height="16" /></a>
        &ZeroWidthSpace;
        </span>
        {% endif %}
    </div>
    <div class="col-6">
        <span class="timer"></span>
        <span class="timer-small"></span>
    </div>
</div>
