---
description: Countdown for the Call for Participation of this conference including conference dates and details.
---

<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container">
      <div class="page-header" id="conf-title">
        <div class="row">
          <div class="col-sm-12">
            <h1>
              <span id="conf-title-href" href="/conference/{{page.title | slugify}}-{{page.year}}/">{{page.title}} {{page.year}}</span>
              <span id="twitter-box"><a href="https://twitter.com/share" class="twitter-share-button" data-text="Countdown to the #{{ page.title }}{{ page.year }} deadline!" data-show-count="false" style="font-size:13px;">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></span>
            </h1>
            {% if page.full_name %}
            <h3 id="conf-full-name">{{page.full_name}}
            </h3>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" id="conf-subs">
            <span id="conf-subs" title="Conference subjects">
              {% assign subs = page.sub | split: "," %}
              {% for sub in subs %}
                <span class="{{sub}}-tag badge badge-light conf-sub conf-{{sub}}">
                  {% for tp in site.data.types %}
                    {% if sub == tp.sub %}
                      {{tp.name}}
                    {% endif %}
                  {% endfor %}
                </span>
              {% endfor %}
            </span>
          </div>
        </div>
      </div>
      <div id="page-content">
        <div id="conf-key-facts" class="row">
          <div class="col-12">
            <img src="/static/img/084-calendar.svg" class="badge-link" />
            <span id="conf-date">{{page.date}}</span>
          </div>
          <div class="col-12">
            <img src="/static/img/072-location.svg" class="badge-link" />
            <a id="conf-place" target="_blank" href="{% if page.place == 'Online' %}#{% else %}https://maps.google.com/?q={{page.place}}{% endif %}">{{page.place}}</a>
          </div>
          <div class="col-12">
            <img src="/static/img/203-earth.svg" class="badge-link" />
            <a id="conf-website" target="_blank" href="{{page.link}}">{{page.link}}</a>
          </div>
          {% if page.cfplink %}
          <div class="col-12">
            <img src="/static/img/035-file-text.svg" class="badge-link" />
            <a id="conf-cfplink" target="_blank" href="{{page.cfplink}}">Call for Participation</a>
          </div>
          {% endif %}
          {% if page.twitter %}
          <div class="col-12">
            <img src="/static/img/407-twitter.svg" class="badge-link" />
            <a id="conf-twitter" target="_blank" href="https://twitter.com/{{page.twitter}}">@{{page.twitter}}</a>
          </div>
          {% endif %}
          {% if page.mastodon %}
          <div class="col-12">
            <img src="/static/img/407-mastodon.svg" class="badge-link" />
            <a id="conf-mastodon" target="_blank" href="{{page.mastodon}}">Mastodon</a>
          </div>
          {% endif %}
        </div>
        <div id="conf-deadline-info" class="row">
          <div class="meta deadline col-12 col-md-6">
            Download Conference deadline:
          </div>
          <div id="conference-deadline" class="calendar meta col-sm-12 col-md-6"></div>
          <div class="meta deadline col-12 col-md-6">
            Deadline in timezone from conference website:
          </div>
          <div class="meta col-sm-12 col-md-6">
            <span class="deadline-time"></span>
          </div>
          <div class="meta col-sm-12 col-md-6">
            Deadline in your local <span class="local-timezone"></span> timezone:
          </div>
          <div class="local-timezone-hide meta col-sm-12 col-md-6">
            <span class="deadline-local-time"></span>
          </div>
        </div>
        <div id="conf-deadline-timer" class="row">
          <div id="cfp-timer" class="col-12 conf-timer">{% if page.cfp == "TBA" %}TBA{%endif%}
          </div>
        </div>
        <div class="row">
        {% if page.location %}
        {% google_map zoom="6" width="100%" %}
        {% endif %}
        </div>
      </div>
        <footer>
          {% include footer.html %}
        </footer>
    </div>
    <script type="text/javascript" charset="utf-8">
    $(function() {
      // Timezone deadline shenanigans
        var url = new URL(window.location);
        var conf = url.searchParams.get('id');

        var DateTime = luxon.DateTime;
        var today = DateTime.now();

        {% include load_data.js %}
        {% include utils.js %}

        $('.local-timezone').text(today.toFormat('z'));

        // other
        {% if page.cfp == "TBA" %}
          $('#cfp-timer').html("TBA");
          $('.deadline-time').html("TBA");
          $('.deadline-local-time').html("TBA");
        {% else %}

          // Use specified timezone for deadlines if available else use AoE timezone
          {% if page.timezone %}
          var confDeadline = DateTime.fromSQL("{{page.cfp}}", {zone: "{{page.timezone}}"});
          {% else %}
          var confDeadline = DateTime.fromSQL("{{page.cfp}}", {zone: "UTC-12"});
          {% endif %}
        
          // check if timezone is valid otherwise replace by system timezone
          if (confDeadline.invalid) {
            var confDeadline = DateTime.fromSQL("{{page.cfp}}");
            console.log("Invalid timezone. Using system timezone instead.");
          }

          // add calendar 
          var conferenceDeadlineCalendar = createCalendarFromObject({
            id:  '{{page.id}}',
            title: '{{page.title}} {{page.year}} deadline',
            date: confDeadline.toJSDate(),
            duration: 60,
          })
          document.querySelector('#conference-deadline').appendChild(conferenceDeadlineCalendar);

          // render countdown timer
          $('#cfp-timer').countdown(confDeadline.toJSDate(), function(event) {
            $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
          });

          // render deadline conference time
          {% if page.timezone %}
            $('.deadline-time').html(confDeadline.setZone("{{page.timezone}}").toLocaleString(DateTime.DATETIME_HUGE_WITH_SECONDS));
          {% else %}
            $('.deadline-time').html(confDeadline.setZone("UTC-12").toLocaleString(DateTime.DATETIME_HUGE_WITH_SECONDS));
          {% endif %}

          // render deadline in local timezone
          $('.deadline-local-time').html(confDeadline.setZone('system').toLocaleString(DateTime.DATETIME_HUGE_WITH_SECONDS));

        {% endif %}

    });
    </script>
  </body>
</html>
