<html>
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		<div class="container">
			<div class="page-header">
				<div class="row">
					<div class="col-12 col-sm-12">
						{% include breadcrumbs.html %}
						<h1>{{ title }}</h1>
					</div>
					<div class="meta col-12">{% tf frontpage/hook.md %}</div>
				</div>
				<br />
				<div class="row">
					<div class="meta col-8">{% tf frontpage/description.md %}</div>
					<div class="meta col-4">
						<form class="container">
							<div class="row justify-content-center">
								<div class="row align-items-md-center col-12 col-10-md">
									<div class="col-12 col-md-5 filter-label">
										<label
											for="subject-select"
											class="align-center"
											style="margin-bottom: 0px; line-height: 1.5"
										>
											{% t global.sub_filter %}
										</label>
									</div>
									<div class="col-12 col-md-6">
										<select
											id="subject-select"
											name="subject-select"
											multiple="multiple"
											style="display: none"
										>
											{% for type in site.data.types %}
											<option value="{{type.sub}}" id="{{type.sub}}-checkbox">
												{{type.name}} ({{type.sub}})
											</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="confs">
				<div id="past_confs">
					<h1 id="past-events-title">{% t titles.past_events %}</h1>
					{% assign confs = site.data.archive | sort: "start" | reverse | where_exp: "item", "item.year ==
					page.year" %} {% for conf in confs %} {% assign subs = conf.sub | split: "," %}
					<div
						id="{{conf.conference | slugify: 'latin'}}-{{conf.year}}"
						class="ConfItem {% for sub in subs %} {{sub | strip}}-conf {% endfor %}"
					>
						{% include index_conf_title_row.html %} {% include index_conf_date_place.html %} {% include
						index_conf_subs.html %}
						<hr />
					</div>
					{% endfor %}
				</div>
			</div>
			<footer>{% include footer.html %}</footer>
			<br /><br />
		</div>
		<script type="text/javascript" charset="utf-8">
			$(function() {
			  luxon.Settings.defaultLocale = "{{ site.lang }}";
			  var DateTime = luxon.DateTime;
			  var today = datetime.now(tz=timezone.utc);

			  // Make sure this is >= no. of subs
			  // Currently not used
			  var colors = ['#341f97', '#ee5253', '#2e86de',
			                '#ff9f43', '#10ac84', '#222f3e']


			  {% include load_data.js %}
			  {% include utils.js %}
			  {% include multiselect_handler.js %}

			  // Set time zone to local timezone on web copy
			  $('.local-timezone').text(today.toFormat('z'));

			  {% for conf in site.data.archive %}
			    {% if conf.cfp_ext %}
			      {% assign cfp = conf.cfp_ext %}
			    {% else %}
			      {% assign cfp = conf.cfp %}
			    {% endif %}
			    {% assign subs = conf.sub | split: "," %}
			    {% for sub in subs %}
			      $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .{{sub | strip}}-tag').html("{% t 'subs.{{sub | strip}}' %}".toLocaleLowerCase("{{ site.lang }}"));
			    {% endfor %}
			    {% if cfp == "TBA" or cfp == "Cancelled" or cfp == "None" %}
			      $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .timer').html("{{cfp}}");
			      $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline-time').html("{{cfp}}");
			      $('#{{conf.conference | slugify: "latin"}}-{{conf.year}}').attr("cfpDiff", Infinity);
			    {% else %}

			      // Use specified timezone for deadlines if available else use AoE timezone
			      {% if conf.timezone %}
			        var cfpDate = DateTime.fromSQL("{{cfp}}", {zone: "{{conf.timezone}}"});
			        var confDate = DateTime.fromSQL("{{conf.start}}", {zone: "{{conf.timezone}}"});
			      {% else %}
			        var cfpDate = DateTime.fromSQL("{{cfp}}", {zone: "UTC-12"});
			        var confDate = DateTime.fromSQL("{{conf.start}}", {zone: "UTC-12"});
			      {% endif %}

			      // check if timezone is valid otherwise replace by system timezone
			      if (cfpDate.invalid || confDate.invalid) {
			        var cfpDate = DateTime.fromSQL("{{cfp}}");
			        var confDate = DateTime.fromSQL("{{conf.start}}");
			        console.log("Invalid timezone in {{conf.conference | slugify: 'latin'}}-{{conf.year}}. Using system timezone instead.");
			      }

			      // deadline in local timezone
			      $('#{{conf.conference | slugify: "latin"}}-{{conf.year}} .deadline-time').html(cfpDate.setZone('system').toLocaleString(DateTime.DATE_HUGE));
			    {% endif %}
			  {% endfor %}

			  {% include handle_url_retrieval.js %}

			  // Event handler on sub badge click
			  $('.conf-sub').click(function (e) {
			      var csub = $(this).data('sub');
			      subs = [csub];
			      $("#subject-select").multiselect('deselect', all_subs);
			      $("#subject-select").multiselect('select', subs);
			      update_filtering({ subs: subs, all_subs: all_subs});
			  });

			});
		</script>
	</body>
</html>
